<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleJspServletDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.searchengine.ServletHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClusterServlet</servlet-name>
    <servlet-class>com.searchengine.ClusterServletHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClusterServlet2</servlet-name>
    <servlet-class>com.searchengine.ClusterServletHandler2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClusterServlet4</servlet-name>
    <servlet-class>com.searchengine.ClusterServletHandler4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClusterServlet3</servlet-name>
    <servlet-class>com.searchengine.ClusterServletHandler3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QexpServlet</servlet-name>
    <servlet-class>com.searchengine.QueryExpansionServletHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServletPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClusterServlet</servlet-name>
    <url-pattern>/ClusterServletPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClusterServlet2</servlet-name>
    <url-pattern>/ClusterServletPath2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClusterServlet3</servlet-name>
    <url-pattern>/ClusterServletPath3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClusterServlet4</servlet-name>
    <url-pattern>/ClusterServletPath4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QexpServlet</servlet-name>
    <url-pattern>/QexpServletPath</url-pattern>
  </servlet-mapping>
</web-app>